{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
NewsPortal
{% endblock %}
{% block content%}
<h1>Описание статьи</h1>
{% if news %}
<h3>Новостей на странице: {{ news|length }}</h3>
    <table>
        <tr>
            <th>Заголовок</th>
            <th>Дата Публикации</th>
            <th>Текст Поста</th>
        </tr>
        {% for new in news %}
        <tr>
            <td>{{ new.headline|censor }}</td>
            <td>{{ new.creations_date|date:'d M Y' }}</td>
            <td>{{ new.article_text| truncatechars:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Новостей нет</h2>
    {% endif %}
{% endblock content %}